<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Confirmacion de compra</title>
  <link rel="stylesheet" href="confirmar-compra.css" />
</head>
<body>
  <div class="container">
    <h1>Confirmacion de compra online</h1>
    <p id="mensaje">Le entregamos sus archivos que recientemente a comprado por Forma Programada.</p>
    
    <p>(Estas son las compras digitales, si usted compró algun articulo impreso, dentro de poco se le comunicará para coordinar la entrega)</p>
  </div>
</body>
</html>
